In [1]:
#오후 수업 내용 (lottory 사이트 크롤링 작업)

In [2]:
import pandas as pd

In [3]:
import requests

In [4]:
url = 'https://dhlottery.co.kr/store.do?method=topStore&pageGubun=L645'

In [5]:
req = requests.get(url)

In [6]:
html = req.text

In [7]:
from bs4 import BeautifulSoup

In [8]:
soup = BeautifulSoup(html, 'html.parser')

In [9]:
name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')

In [21]:
name

[<td>인터넷 복권판매사이트</td>,
 <td>하나복권(가로판매점)</td>,
 <td>황금로또</td>,
 <td>고려슈퍼마켓</td>,
 <td>대한복권</td>,
 <td>그린마트</td>,
 <td>한아름복권방(매탄점)</td>,
 <td>종합복권슈퍼</td>,
 <td>프랜드편의점</td>,
 <td>진평양행</td>,
 <td>이마트24망상해변점</td>,
 <td>NG24</td>,
 <td>천하명당(팔용점)</td>,
 <td>킹로또</td>,
 <td>행운복권방</td>]

In [22]:
gubun = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')

In [23]:
gubun

[<td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>


 												수동



 										</td>,
 <td>

 												자동




 										</td>,
 <td>


 												수동



 										</td>,
 <td>

 												자동




 										</td>,
 <td>

 												자동




 										</td>,
 <td>


 												수동



 										</td>,
 <td>

 												자동




 										</td>,
 <td>


 												수동



 										</td>,
 <td>


 												수동



 										</td>]

In [11]:
addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')

In [12]:
data = []
for i in range(len(name)) :
    temp = []
    temp.append(name[i].text)
    temp.append(gubun[i].text.strip())
    temp.append(addr[i].text)
    data.append(temp)

In [13]:
df = pd.DataFrame(data, columns = ['상호명','구분','주소'])

In [14]:
df

          상호명   구분                                  주소
0        복권마을  반자동                     서울 구로구 구로동로 72
1        잠실매점   자동       서울 송파구 올림픽로 269 잠실역 8번출구 앞 가판
2        당첨로또   자동                부산 동구 범일로90번길 6-1 1층
3        위너로또   자동         인천 남동구 구월남로 212  동원프라자 101호
4       라이프마트   자동               인천 중구 연안부두로53번길 36 5호
5        알리바이   자동              광주 광산구 수등로 253 1층 알리바이
6        토큰박스   자동  경기 남양주시 진건오남로 112-1 동양할인마트 앞 로또판매점
7       은미복권방   자동                  경기 부천시 소사로794번길 6
8        로또대박   자동  경기 부천시 석천로177번길 11 제이클래스중동 1층 105호
9        대박명당   자동                    경기 양주시 옥정동로5길 6
10      행운복권방   자동           충북 청주시 상당구 단재로 119,(영운동)
11      신불당로또   자동  충남 천안시 서북구 불당21로 40 501동 지1층 B143호
12     현대장미슈퍼   자동        전북 익산시 동서로61길 41 현대아파트1층108호
13  알리바이(나주점)   자동                 전남 나주시 나주로 142 알리바이
14  알리바이(나주점)   자동                 전남 나주시 나주로 142 알리바이
15        복권방   자동                    제주 서귀포시 상모로 326

In [15]:
post_data = {'method':'topStore',
        'nowPage':'1',
        'rankNo':'',
        'gameNo':'5133',
        'drwNo':'1037',
        'schKey':'all',
        'schVal':''}

In [16]:
req = requests.post(url, data = post_data)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

# 회사 상호명 구분 주소
# 1000회 ~ 1038회 pandas

for num in range(1000, 1039) :
    print(num)
    .append(num)

for num in range(1000, 1039) :
    print(num)
    .append(num)

In [17]:
#지예님 코드

In [44]:
df = pd.DataFrame()

for time in range(1000,1039):
    data={'method':'topStore',
          'nowPage':'1',
          'rankNo':'',
          'gameNo':'5133',
          'drwNo':time,
          'schKey':'all',
          'schVal':''}
      
    req = requests.post(url, data = post_data)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser') # 이 항목은 위에서 만든 걸 그대로 복붙
    
    shops=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    ways=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    adds=soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
    data=[]
    
    name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    gubun = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
    data = [] # 이 data 변수는 무엇을 의미하는지 물어보기
    
    for i in range(len(name)):
        temp=[]
        temp.append(name[i].text)
        temp.append(gubun[i].text.strip())
        temp.append(addr[i].text)
        data.append(temp) # 무슨 뜻이지?
        
    lotto=pd.DataFrame(data, columns = ['상호명','구분','주소'])
    lotto['회차'] = time                                             #이 문단은 무슨 뜻인지 다시 ~
    
    df=pd.concat([df,lotto],axis=0)

In [19]:
#

In [45]:
data = []

for num in range(1000, 1039) :
    post_data = {'method':'topStore',
          'nowPage':'1',
          'rankNo':'',
          'gameNo':'5133',
          'drwNo':time,
          'schKey':'all',
          'schVal':''}
    
    req = requests.post(url, data = post_data)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser') # 이 항목은 위에서 만든 걸 그대로 복붙
    
    name = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(2)')
    gubun = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(3)')
    addr = soup.select('#article > div:nth-child(2) > div > div:nth-child(4) > table > tbody > tr > td:nth-child(4)')
    
    for i in range(len(name)):
        temp=[]
        temp.append(name[i].text)
        temp.append(gubun[i].text.strip())
        temp.append(addr[i].text)
        data.append(temp) # 무슨 뜻이지?

In [24]:
df.to_csv('lotto.csv', index = False ,encoding= 'euc-kr')

In [30]:
df[df['회차'] == 1019 ]

             상호명  구분                                 주소    회차
0           지원물산  자동              서울 노원구 공릉로 108,(공릉동)   1019
1          로또 명당  자동                   대구 동구 화랑로75길 69   1019
2       초원복권 신창점  자동                   광주 광산구 신창로 76 1층  1019
3          대전우표사  자동               대전 동구 중앙로204번길 16-1   1019
4           대한유통  자동              울산 북구 박상진11로 1 1층112호  1019
5          몽키버블티  자동      경기 군포시 고산로250번길 27 1층 일부호(당동)  1019
6             꽃길  수동         경기 수원시 권선구 정조로 571 1층(세류동)  1019
7             꽃길  수동         경기 수원시 권선구 정조로 571 1층(세류동)  1019
8          행운복권방  수동            경기 안성시 서동대로 7184 1층 복권방  1019
9        로또복권합정점  수동  경기 평택시 중앙로 176 127호 평택합정 SK뷰 주상복합  1019
10  세븐일레븐화성봉담수기점  자동                    경기 화성시 세자로 358   1019
11     포항오거리CU복권  자동         경북 포항시 북구 죽도로 33 CU포항오거리점내  1019
12          삼정상회  자동        경남 김해시 활천로 23 가동 109호 복권판매점  1019
13         목화휴게소  자동                   경남 사천시 사천대로 912   1019
14           신세계  자동                   제주 제주시 고마로14길 7   1019

In [25]:
df['회차'].value_counts()

1000    15
1029    15
1022    15
1023    15
1024    15
1025    15
1026    15
1027    15
1028    15
1030    15
1020    15
1031    15
1032    15
1033    15
1034    15
1035    15
1036    15
1037    15
1021    15
1019    15
1001    15
1009    15
1002    15
1003    15
1004    15
1005    15
1006    15
1007    15
1008    15
1010    15
1018    15
1011    15
1012    15
1013    15
1014    15
1015    15
1016    15
1017    15
1038    15
Name: 회차, dtype: int64

In [31]:
df['구분'].value_counts()

자동    429
수동    156
Name: 구분, dtype: int64

In [32]:
df # 8대 광역시 # 시군구

             상호명  구분                           주소    회차
0           지원물산  자동        서울 노원구 공릉로 108,(공릉동)   1000
1          로또 명당  자동             대구 동구 화랑로75길 69   1000
2       초원복권 신창점  자동             광주 광산구 신창로 76 1층  1000
3          대전우표사  자동         대전 동구 중앙로204번길 16-1   1000
4           대한유통  자동        울산 북구 박상진11로 1 1층112호  1000
..           ...  ..                          ...   ...
10  세븐일레븐화성봉담수기점  자동              경기 화성시 세자로 358   1038
11     포항오거리CU복권  자동   경북 포항시 북구 죽도로 33 CU포항오거리점내  1038
12          삼정상회  자동  경남 김해시 활천로 23 가동 109호 복권판매점  1038
13         목화휴게소  자동             경남 사천시 사천대로 912   1038
14           신세계  자동             제주 제주시 고마로14길 7   1038

[585 rows x 4 columns]

In [33]:
df['주소'].str.split(' ',expand=True)
#인터넷 제외 
#경기 121건 (주소의 맨앞에꺼)
#

     0    1         2          3       4          5      6     7
0   서울  노원구       공릉로  108,(공릉동)               None   None  None
1   대구   동구    화랑로75길         69               None   None  None
2   광주  광산구       신창로         76      1층       None   None  None
3   대전   동구  중앙로204번길       16-1               None   None  None
4   울산   북구    박상진11로          1  1층112호       None   None  None
..  ..  ...       ...        ...     ...        ...    ...   ...
10  경기  화성시       세자로        358               None   None  None
11  경북  포항시        북구        죽도로      33  CU포항오거리점내   None  None
12  경남  김해시       활천로         23      가동       109호  복권판매점  None
13  경남  사천시      사천대로        912               None   None  None
14  제주  제주시    고마로14길          7               None   None  None

[585 rows x 8 columns]

In [34]:
df['광역시'] =  df['주소'].str.split(' ',expand=True)[0]

In [35]:
df['시군구'] =  df['주소'].str.split(' ',expand=True)[1]

In [36]:
df['광역시'].value_counts()

경기    234
경남     78
서울     39
대구     39
광주     39
대전     39
울산     39
경북     39
제주     39
Name: 광역시, dtype: int64

In [40]:
df['시군구2'] = df['광역시'] + ' ' + df['시군구']

In [41]:
df['시군구2'].value_counts()

경기 수원시 수원시    78
서울 노원구 노원구    39
대구 동구 동구      39
광주 광산구 광산구    39
대전 동구 동구      39
울산 북구 북구      39
경기 군포시 군포시    39
경기 안성시 안성시    39
경기 평택시 평택시    39
경기 화성시 화성시    39
경북 포항시 포항시    39
경남 김해시 김해시    39
경남 사천시 사천시    39
제주 제주시 제주시    39
Name: 시군구2, dtype: int64

In [43]:
df[df['시군구2'] == '서울 구로구']

Empty DataFrame
Columns: [상호명, 구분, 주소, 회차, 광역시, 시군구, 시군구2]
Index: []